In [115]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
import pygal

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

#pd.set_option("display.max_columns",200)

# Lectura de datos

In [2]:
filename='datos/train.csv'
df=pd.read_csv(filename)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
filetest='datos/test.csv'
test=pd.read_csv(filetest)
test.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal

# IngenierÃ­a de datos

In [17]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [133]:
varc=["LotFrontage","LotArea","MasVnrArea","BsmtFinSF1","BsmtFinSF2","TotalBsmtSF",
 "1stFlrSF","2ndFlrSF","LowQualFinSF","GrLivArea","BsmtFullBath","BsmtHalfBath","BsmtUnfSF","FullBath",
 "HalfBath","BedroomAbvGr","KitchenAbvGr","TotRmsAbvGrd","Fireplaces","GarageCars","GarageArea",
 "WoodDeckSF","OpenPorchSF","EnclosedPorch","3SsnPorch","ScreenPorch","PoolArea","MiscVal","MoSold",
 ]
tgt="SalePrice"
id_='Id'

## AnÃ¡lisis de exploratorio

### Tratamiento de variables categoricas y fechas

A todas las variables que el diccionario indica que sus datos ausente representan en realidad
la ausencia de esa caracterisica los rellenamos con un valor en forma de string para poder trabajar con ellos.

In [92]:
df["Alley"].fillna(value='No',inplace=True)
df["BsmtQual"].fillna(value='No',inplace=True)
df["BsmtCond"].fillna(value='No',inplace=True)
df["BsmtExposure"].fillna(value='No',inplace=True)
df["BsmtFinType1"].fillna(value='No',inplace=True)
df["BsmtFinType2"].fillna(value='No',inplace=True)
df["FireplaceQu"].fillna(value='No',inplace=True)
df["GarageType"].fillna(value='No',inplace=True)
df["GarageFinish"].fillna(value='No',inplace=True)
df["GarageQual"].fillna(value='No',inplace=True)
df["GarageCond"].fillna(value='No',inplace=True)
df["PoolQC"].fillna(value='No',inplace=True)
df["Fence"].fillna(value='No',inplace=True)
df["MiscFeature"].fillna(value='No',inplace=True)
df["MasVnrType"].fillna(value='No',inplace=True)

Los valores 'YearBuilt', 'YearRemodAdd' los sustituiremos por su equivalente en antiguedad y
antiguedad de remodelaciÃ³n suponiendo que estamos en el 2011, pues la Ãºltima venta fue
hecha en el 2010.

In [40]:
df['Antiguedad']=2011-df["YearBuilt"]
df["Antiguedad_rem"]=2011-df["YearRemodAdd"]
df["Antig_Garage"]=2011-df["GarageYrBlt"]
df.drop("GarageYrBlt",axis=1,inplace=True)
df.drop(["YearBuilt","YearRemodAdd"],axis=1,inplace=True)
df.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Antiguedad,Antiguedad_rem
0,1,60,RL,65.0,8450,Pave,No,Reg,Lvl,AllPub,...,No,No,0,2,2008,WD,Normal,208500,8,8
1,2,20,RL,80.0,9600,Pave,No,Reg,Lvl,AllPub,...,No,No,0,5,2007,WD,Normal,181500,35,35

In [80]:
varc=varc+["Antiguedad","Antiguedad_rem","Antig_Garage"]

Ahora vamos a crear una lista con las variables discretas.

In [88]:
vard=[]
for col in df.columns:
    if( (col not in varc) and col!=tgt and col != id_):
        vard.append(col)

### Valores ausentes

Vemos que solo hay una variable con un dato ausente.

In [93]:
df[vard].shape,df[vard].dropna().shape

((1460, 48), (1459, 48))

In [100]:
df[["Electrical"]][df["Electrical"].isna() == True]

     Electrical
1379        NaN

In [111]:
#df.drop(1379,axis=0,inplace=True)
#df[["Electrical"]][df["Electrical"].isna() == True]
df=df.reset_index(drop=True).copy()

In [112]:
df[varc].shape,df[varc].dropna().shape

((1459, 34), (1120, 34))

Se pierde el 23% de los datos si eliminamos los valores ausentes, por lo que se intentarÃ¡
usar la imputaciÃ³n y esperamos no afecte mucho a la distribuciÃ³n de las variables.

In [113]:
100-((100/1459)*1120)

23.235092529129545

Ahora convertiremos las variables discretas en continuas.

In [117]:
aux = df[vard].copy()
oh = OneHotEncoder()
oh.fit(aux)
X = pd.DataFrame(oh.transform(aux).toarray(),columns=oh.get_feature_names())

In [126]:
df['HeatingQC'].value_counts()

Ex    741
TA    428
Gd    240
Fa     49
Po      1
Name: HeatingQC, dtype: int64

In [122]:
vard

['MSSubClass',
 'MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'BsmtUnfSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'YrSold',
 'SaleType',
 'SaleCondition']

In [121]:
oh.categories_

[array([ 20,  30,  40,  45,  50,  60,  70,  75,  80,  85,  90, 120, 160,
        180, 190]),
 array(['C (all)', 'FV', 'RH', 'RL', 'RM'], dtype=object),
 array(['Grvl', 'Pave'], dtype=object),
 array(['Grvl', 'No', 'Pave'], dtype=object),
 array(['IR1', 'IR2', 'IR3', 'Reg'], dtype=object),
 array(['Bnk', 'HLS', 'Low', 'Lvl'], dtype=object),
 array(['AllPub', 'NoSeWa'], dtype=object),
 array(['Corner', 'CulDSac', 'FR2', 'FR3', 'Inside'], dtype=object),
 array(['Gtl', 'Mod', 'Sev'], dtype=object),
 array(['Blmngtn', 'Blueste', 'BrDale', 'BrkSide', 'ClearCr', 'CollgCr',
        'Crawfor', 'Edwards', 'Gilbert', 'IDOTRR', 'MeadowV', 'Mitchel',
        'NAmes', 'NPkVill', 'NWAmes', 'NoRidge', 'NridgHt', 'OldTown',
        'SWISU', 'Sawyer', 'SawyerW', 'Somerst', 'StoneBr', 'Timber',
        'Veenker'], dtype=object),
 array(['Artery', 'Feedr', 'Norm', 'PosA', 'PosN', 'RRAe', 'RRAn', 'RRNe',
        'RRNn'], dtype=object),
 array(['Artery', 'Feedr', 'Norm', 'PosA', 'PosN', 'RRAe', 'RRAn', 'RRNn'],
       dtype=object),
 array(['1Fam', '2fmCon', 'Duplex', 'Twnhs', 'TwnhsE'], dtype=object),
 array(['1.5Fin', '1.5Unf', '1Story', '2.5Fin', '2.5Unf', '2Story',
        'SFoyer', 'SLvl'], dtype=object),
 array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]),
 array([1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array(['Flat', 'Gable', 'Gambrel', 'Hip', 'Mansard', 'Shed'], dtype=object),
 array(['ClyTile', 'CompShg', 'Membran', 'Metal', 'Roll', 'Tar&Grv',
        'WdShake', 'WdShngl'], dtype=object),
 array(['AsbShng', 'AsphShn', 'BrkComm', 'BrkFace', 'CBlock', 'CemntBd',
        'HdBoard', 'ImStucc', 'MetalSd', 'Plywood', 'Stone', 'Stucco',
        'VinylSd', 'Wd Sdng', 'WdShing'], dtype=object),
 array(['AsbShng', 'AsphShn', 'Brk Cmn', 'BrkFace', 'CBlock', 'CmentBd',
        'HdBoard', 'ImStucc', 'MetalSd', 'Other', 'Plywood', 'Stone',
        'Stucco', 'VinylSd', 'Wd Sdng', 'Wd Shng'], dtype=object),
 array(['BrkCmn', 'BrkFace', 'No', 'None', 'Stone'], dtype=object),
 array(['Ex', 'Fa', 'Gd', 'TA'], dtype=object),
 array(['Ex', 'Fa', 'Gd', 'Po', 'TA'], dtype=object),
 array(['BrkTil', 'CBlock', 'PConc', 'Slab', 'Stone', 'Wood'], dtype=object),
 array(['Ex', 'Fa', 'Gd', 'No', 'TA'], dtype=object),
 array(['Fa', 'Gd', 'No', 'Po', 'TA'], dtype=object),
 array(['Av', 'Gd', 'Mn', 'No'], dtype=object),
 array(['ALQ', 'BLQ', 'GLQ', 'LwQ', 'No', 'Rec', 'Unf'], dtype=object),
 array(['ALQ', 'BLQ', 'GLQ', 'LwQ', 'No', 'Rec', 'Unf'], dtype=object),
 array([   0,   14,   15,   23,   26,   29,   30,   32,   35,   36,   38,
          39,   40,   50,   55,   60,   61,   64,   70,   72,   74,   75,
          76,   77,   78,   80,   81,   82,   83,   84,   88,   89,   90,
          92,   93,   95,   96,   99,  100,  102,  103,  104,  105,  107,
         108,  110,  111,  112,  113,  114,  115,  117,  119,  120,  121,
         122,  124,  125,  126,  130,  131,  132,  133,  134,  135,  136,
         138,  140,  141,  142,  143,  148,  149,  150,  151,  153,  154,
         155,  156,  160,  161,  162,  163,  165,  166,  167,  168,  169,
         170,  171,  172,  173,  174,  175,  176,  177,  178,  179,  180,
         184,  186,  187,  188,  189,  190,  191,  192,  193,  195,  196,
         197,  198,  200,  201,  203,  204,  207,  208,  210,  212,  216,
         217,  218,  219,  220,  221,  223,  224,  225,  227,  229,  230,
         234,  235,  237,  238,  239,  240,  241,  242,  244,  245,  246,
         247,  248,  250,  251,  252,  253,  254,  255,  256,  257,  261,
         262,  264,  266,  268,  270,  273,  274,  276,  277,  278,  279,
         280,  281,  284,  285,  286,  288,  289,  290,  291,  292,  293,
         294,  295,  297,  298,  299,  300,  301,  303,  304,  305,  308,
         309,  310,  311,  312,  314,  315,  316,  317,  318,  319,  320,
         321,  322,  323,  324,  326,  328,  331,  333,  334,  336,  338,
         340,  341,  342,  343,  344,  348,  349,  350,  352,  354,  355,
         356,  357,  359,  360,  361,  363,  364,  365,  366,  367,  370,
         371,  372,  374,  375,  378,  379,  380,  381,  383,  384,  386,
         387,  389,  390,  392,  396,  397,  398,  399,  400,  402,  403,
         404,  405,  406,  408,  409,  410,  411,  412,  413,  414,  415,
         416,  417,  418,  420,  422,  424,  425,  426,  427,  428,  429,
         430,  431,  432,  434,  435,  438,  440,  441,  442,  444,  445,
         447,  448,  449,  450,  452,  456,  457,  458,  459,  460,  461,
         462,  463,  464,  465,  466,  467,  468,  470,  473,  474,  476,
         479,  480,  481,  482,  483,  484,  485,  486,  487,  488,  490,
         491,  495,  496,  499,  500,  501,  503,  504,  506,  508,  510,
         512,  515,  516,  519,  520,  522,  524,  525,  526,  528,  530,
         533,  536,  537,  538,  539,  540,  542,  543,  544,  545,  546,
         548,  549,  550,  551,  552,  554,  556,  557,  560,  563,  564,
         567,  568,  570,  571,  572,  574,  576,  577,  578,  580,  585,
         586,  588,  589,  594,  595,  596,  598,  599,  600,  602,  604,
         605,  606,  611,  612,  616,  619,  620,  622,  624,  625,  626,
         628,  630,  635,  636,  637,  638,  640,  641,  645,  648,  649,
         650,  651,  652,  656,  658,  660,  661,  662,  664,  666,  668,
         671,  672,  673,  676,  678,  680,  684,  686,  689,  690,  691,
         692,  693,  697,  698,  700,  701,  702,  705,  706,  707,  708,
         709,  710,  712,  715,  717,  718,  720,  721,  722,  724,  725,
         726,  728,  730,  731,  732,  733,  734,  735,  736,  739,  740,
         741,  742,  744,  746,  747,  748,  750,  752,  755,  756,  758,
         761,  762,  764,  765,  768,  769,  770,  772,  773,  774,  776,
         777,  778,  779,  780,  783,  784,  785,  788,  791,  792,  793,
         794,  795,  796,  797,  798,  799,  801,  803,  804,  806,  808,
         810,  811,  812,  813,  814,  815,  816,  818,  823,  831,  832,
         833,  834,  840,  841,  844,  846,  847,  849,  858,  859,  860,
         861,  862,  864,  866,  868,  871,  874,  876,  877,  878,  879,
         880,  882,  884,  891,  892,  893,  894,  896,  899,  901,  905,
         906,  907,  912,  914,  916,  918,  920,  924,  925,  926,  927,
         930,  932,  935,  936,  939,  940,  941,  948,  952,  953,  958,
         960,  961,  964,  967,  968,  969,  970,  971,  972,  975,  976,
         977,  978,  982,  983,  988,  989,  993,  994,  995,  999, 1005,
        1007, 1008, 1010, 1012, 1013, 1017, 1020, 1026, 1030, 1032, 1035,
        1042, 1043, 1045, 1048, 1050, 1053, 1055, 1063, 1064, 1065, 1072,
        1073, 1074, 1078, 1079, 1082, 1085, 1088, 1090, 1092, 1094, 1095,
        1097, 1098, 1099, 1104, 1107, 1116, 1117, 1120, 1121, 1122, 1125,
        1128, 1129, 1139, 1140, 1141, 1143, 1145, 1152, 1158, 1163, 1164,
        1176, 1181, 1184, 1191, 1194, 1195, 1198, 1200, 1203, 1212, 1217,
        1221, 1226, 1228, 1232, 1234, 1237, 1240, 1249, 1252, 1257, 1258,
        1264, 1266, 1273, 1276, 1284, 1286, 1288, 1290, 1293, 1296, 1302,
        1304, 1307, 1316, 1319, 1330, 1335, 1342, 1346, 1349, 1351, 1352,
        1357, 1362, 1367, 1368, 1372, 1373, 1374, 1375, 1380, 1390, 1392,
        1393, 1405, 1406, 1410, 1413, 1417, 1420, 1422, 1424, 1428, 1434,
        1436, 1442, 1450, 1459, 1468, 1470, 1480, 1482, 1489, 1494, 1496,
        1497, 1498, 1502, 1515, 1528, 1530, 1541, 1550, 1560, 1566, 1571,
        1573, 1580, 1584, 1588, 1594, 1603, 1616, 1622, 1626, 1630, 1632,
        1638, 1649, 1652, 1656, 1670, 1680, 1686, 1689, 1694, 1709, 1710,
        1734, 1752, 1753, 1768, 1774, 1777, 1795, 1800, 1836, 1869, 1905,
        1907, 1926, 1935, 1969, 2002, 2042, 2046, 2121, 2153, 2336]),
 array(['Floor', 'GasA', 'GasW', 'Grav', 'OthW', 'Wall'], dtype=object),
 array(['Ex', 'Fa', 'Gd', 'Po', 'TA'], dtype=object),
 array(['N', 'Y'], dtype=object),
 array(['FuseA', 'FuseF', 'FuseP', 'Mix', 'SBrkr'], dtype=object),
 array(['Ex', 'Fa', 'Gd', 'TA'], dtype=object),
 array(['Maj1', 'Maj2', 'Min1', 'Min2', 'Mod', 'Sev', 'Typ'], dtype=object),
 array(['Ex', 'Fa', 'Gd', 'No', 'Po', 'TA'], dtype=object),
 array(['2Types', 'Attchd', 'Basment', 'BuiltIn', 'CarPort', 'Detchd',
        'No'], dtype=object),
 array(['Fin', 'No', 'RFn', 'Unf'], dtype=object),
 array(['Ex', 'Fa', 'Gd', 'No', 'Po', 'TA'], dtype=object),
 array(['Ex', 'Fa', 'Gd', 'No', 'Po', 'TA'], dtype=object),
 array(['N', 'P', 'Y'], dtype=object),
 array(['Ex', 'Fa', 'Gd', 'No'], dtype=object),
 array(['GdPrv', 'GdWo', 'MnPrv', 'MnWw', 'No'], dtype=object),
 array(['Gar2', 'No', 'Othr', 'Shed', 'TenC'], dtype=object),
 array([2006, 2007, 2008, 2009, 2010]),
 array(['COD', 'CWD', 'Con', 'ConLD', 'ConLI', 'ConLw', 'New', 'Oth', 'WD'],
       dtype=object),
 array(['Abnorml', 'AdjLand', 'Alloca', 'Family', 'Normal', 'Partial'],
       dtype=object)]

In [132]:
for col in df[vard]:
    if(len(df[col].value_counts()) == 780):
        print(col)

BsmtUnfSF